name: build
on: push

jobs:
  build-simple-example:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: docker run --rm -v $(pwd):/satysfi amutake/satysfi satysfi doc.saty
        working-directory: ./01-simple-example
      - uses: actions/upload-artifact@master
        with:
          name: doc.pdf
          path: 01-simple-example/doc.pdf

  build-library-example:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [0.0.3-slim, 0.0.3-dev2019.11.16-slim]
    steps:
      - uses: actions/checkout@v1
      - run: docker run --rm -v $(pwd):/satysfi amutake/satysfi:${{ matrix.version }} satysfi doc.saty
        working-directory: ./02-library-example
      - uses: actions/upload-artifact@master
        with:
          name: doc.pdf
          path: 02-library-example/doc.pdf

  build-submodule-example:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [0.0.3-dev2019.11.16-slim, 0.0.3-dev2019.07.14-slim]
    steps:
      - uses: actions/checkout@v1
        with:
          submodules: recursive
      - run: docker run --rm -v $(pwd):/satysfi amutake/satysfi:${{ matrix.version }} satysfi doc.saty
        working-directory: ./03-submodule-example
      - uses: actions/upload-artifact@master
        with:
          name: doc.pdf
          path: 03-submodule-example/doc.pdf

  build-submodule-example:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: [0.0.3-dev2019.11.16]
    steps:
      - uses: actions/checkout@v1
      - run: docker run --rm -v $(pwd):/satysfi amutake/satysfi:${{ matrix.version }} bash -c "opam update && opam install satysfi-grcnum && satyrographos install -library grcnum && satysfi doc.saty"
        working-directory: ./04-satyrographos-example
      - uses: actions/upload-artifact@master
        with:
          name: doc.pdf
          path: 04-satyrographos-example/doc.pdf
